/* stylelint-disable all */
.percentage-circle {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 115px;
	height: 115px;
	padding: 0 !important;
	border-radius: 115px;
    font-size: 38px;

    &::before {
        position: absolute;
        width: 155px;
        height: 155px;
        border-radius: 165px;
        border: 10px solid #fff;
        content: '';
        background: transparent;
    }
}

.width-100 {
    width: 100%;
}

.overflow-11 {
    z-index: 11;
    position: relative;

    &:before {
        content: '';
        background: #f3f5f9;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
         left: -240px;

        @include respond-to($xlarge) {
             left: -440px;
        }
    }
}

.height-100 {
    height: 100%;
}

.block-gap-20 {
    gap: 20px !important;
}

.position-relative {
    position: relative;
}

.padding-bottom-0-testimonial-slider {
    .testimonial-slider {
        padding-bottom: 0;
    }
}

@include respond-to($medium, max) {
    .m-justify-content-flex-start {
        justify-content: flex-start !important;
    }

    .m-padding-top-0 {
        padding-top: 0 !important;
    }

    .m-padding-top-10 {
        padding-top: 10px !important;
    }

    .m-padding-top-20 {
        padding-top: 20px !important;
    }

    .m-padding-top-25 {
        padding-top: 25px !important;
    }

    .m-padding-top-30 {
        padding-top: 30px !important;
    }

    .m-padding-top-40 {
        padding-top: 40px !important;
    }

    .m-padding-bottom-0 {
        padding-bottom: 0 !important;
    }

    .m-padding-bottom-10 {
        padding-bottom: 10px !important;
    }

    .m-padding-bottom-20 {
        padding-bottom: 20px !important;
    }

    .m-padding-bottom-25 {
        padding-bottom: 25px !important;
    }

    .m-padding-bottom-30 {
        padding-bottom: 30px !important;
    }

    .m-padding-bottom-40 {
        padding-bottom: 40px !important;
    }

    .m-padding-bottom-50 {
        padding-bottom: 50px !important;
    }

    .m-padding-bottom-60 {
        padding-bottom: 60px !important;
    }

    .m-text-align-left {
        text-align: left;
        justify-content: left !important;
    }

    .m-text-align-center {
        text-align: center !important;
    }

    .m-display-none {
        display: none;
    }

    .m-background-none {
        background: none;
    }

    .m-margin-bottom-0-testimonial-slider {
        .testimonial-slider {
            margin-bottom: 0 !important;
        }
    }

    .m-padding-bottom-0-testimonial-slider {
        .testimonial-slider {
            padding-bottom: 0 !important;
        }
    }

    .force-font-size-46 {
        font-size: 46px !important;
    }

    iframe {
        &.mobile {
            min-height: 500px;
        }
    }
}

/* stylelint-enable all */