//stylelint-disable all

.mega-nav-ul {
	width: 100%;

	li a {
		width: 100%;
		padding: 8px 16px;
		transition: 0.5s all ease-in-out;

		.wp-block-navigation-item__label {
			color: var(--wp--preset--color--boulder);
			font-weight: var(--wp--custom--font-weight--regular);
		}

		&:hover {
			.wp-block-navigation-item__label {
				color: var(--wp--preset--color--medium-teal-blue);
				font-weight: var(--wp--custom--font-weight--semibold);

			}
		}
	}

	li {
		width: 100%;
	}

}

.menu-item-has-meganav {
	.wp-block-columns.has-equal-height-columns {
		align-items: center !important;
	}
}

.wp-block-navigation__container.mega-nav-ul {
	gap: 0;
}

.menu-item-has-children.active .sub-menu {
	.mega-nav-columns {
		@include respond-to($large,max) {
			flex-direction: column;
			flex-wrap: nowrap !important;
			height: calc(100vh - 220px);
			overflow: scroll;
			gap: 0px !important;
		}
	}
	.mega-nav-image-column {
		padding-top: 16px;
	}
}

.mega-nav-columns {
	gap: 40px !important;
}

.mega-nav-section {
	max-width: none;
	padding: 0;

	@include respond-to($large,max) {
		margin: 0 !important;
	}

	a {
		font-weight: 400 !important;
		white-space: unset !important;
	}
}

.menu-item-has-meganav .sub-menu {
	.is-layout-constrained > .alignwide {
		max-width: 100% !important;
		padding: 0;

		.wp-block-group {
			overflow: hidden;
			margin: 40px !important;
			max-width: 100% !important;
			padding: 0 !important;
		}
	}
}

.mega-menu-contact-list {
	.wp-block-list {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding: 2rem 0;
		list-style-type: none;
		font-size: 14px;
		font-weight: 500;
		gap: 2rem;
		color: #596066;

		li {
			padding-left: 0px;
			position: relative;

			&::after {
				content: '';
				display: inline-block;
				width: 1px;
				height: 16px;
				background-color: #596066;
				margin-left: 1rem;
				position: absolute;
				top: 2px;
			}

			&:last-child::after {
				display: none;
			}
		}
	}
}
